<p>Your audio:</p>
<p class="message">{{ .message }}</p>
{{with .error}}<p class="error">Error: <em>{{.}}</em></p>{{end}}
{{ with .image }}
<img src="https://api.nyblcore.com/static/{{.}}" style="width:100%;">
<audio controls>
<source src="https://api.nyblcore.com/static/{{.}}.wav" type="audio/wav">
Your browser does not support the audio element.
</audio>
{{end}}
{{ with .code }}
<p style="margin-bottom:0;">Code for uploading to ATTiny85
    <button onclick="copy()" style="margin-bottom:0.25em; font-size: 1em; cursor:pointer;">Copy</button>
</p>
<textarea id="textarea" rows=15>{{ . }}</textarea>
{{end}}
